@import url("https://fonts.googleapis.com/css?family=Open+Sans|Baloo|Nunito:200,300,400,600,800");
@page {
  size: letter;
  margin: 0; }

body {
  font-family: "Nunito", "Lucida Grande", "Lucida Sans Unicode", Tahoma, sans-serif;
  font-size: 12pt;
  line-height: 18pt; }

.page {
  position: relative;
  width: 8.5in;
  min-height: 11in;
  margin: 0.5in auto;
  border: 1px #CCCCCC solid;
  background: white;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2); }

.inner-page {
  z-index: 200;
  position: absolute;
  top: 0;
  width: 7.5in;
  height: 10in;
  margin: 0.5in;
  border: 1px #CCCCCC dotted; }

.page-footer {
  z-index: 150;
  position: absolute;
  top: 10.5in;
  width: 7.5in;
  height: 0.5in;
  margin: 0 0.5in;
  padding-top: 0.05in;
  font: 10pt "Open Sans"; }
  .page-footer .page-number {
    float: left; }
  .page-footer .version-number {
    color: #999999;
    float: right; }

.negative-text {
  color: white; }

.page-break-fix {
  visibility: hidden; }

.inline-link {
  color: #6554be;
  font-weight: 600; }

@media print {
  html, body {
    width: 8.5in;
    height: 11in; }
  .page {
    margin: 0;
    border: initial;
    width: initial;
    min-height: initial;
    box-shadow: initial;
    background: initial;
    page-break-after: always; }
  .inner-page {
    border: initial; }
  h1::first-letter, h2::first-letter, h3::first-letter, h4::first-letter, h5::first-letter, h6::first-letter {
    padding: 0; }
  .inline-link {
    color: inherit;
    font-weight: inherit; } }

svg {
  z-index: 100;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0; }
  svg path.color-path {
    fill: #6554be; }
  svg path.light-path {
    fill: #7e70c8; }

.landing {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 50%; }
  .landing .landing-logo img {
    position: relative;
    left: 13%;
    width: 3.75in; }
  .landing .landing-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center; }
    .landing .landing-text h1, .landing .landing-text h2, .landing .landing-text h3 {
      color: white;
      margin-bottom: 8pt; }
    .landing .landing-text h1 {
      font: 700 36pt "Nunito", "Lucida Grande", "Lucida Sans Unicode", Tahoma, sans-serif; }
    .landing .landing-text h3 {
      font: 300 14pt "Nunito", "Lucida Grande", "Lucida Sans Unicode", Tahoma, sans-serif; }
      .landing .landing-text h3 .time {
        margin-left: 1em; }
    .landing .landing-text h2 {
      font: 600 18pt "Nunito", "Lucida Grande", "Lucida Sans Unicode", Tahoma, sans-serif; }
    .landing .landing-text a {
      color: white; }
      .landing .landing-text a:hover, .landing .landing-text a:active, .landing .landing-text a:focus {
        color: #b8b0e1;
        text-decoration: underline; }

.after-landing {
  margin-top: 1.75in; }

#about {
  font-size: 13pt;
  line-height: 19.5pt; }

.aside-photo {
  width: 80%;
  margin-top: 2%;
  margin-left: 10%; }

section h1 {
  font: 300 24pt "Nunito", "Lucida Grande", "Lucida Sans Unicode", Tahoma, sans-serif;
  text-align: center; }

section h2 {
  font: 300 24pt "Nunito", "Lucida Grande", "Lucida Sans Unicode", Tahoma, sans-serif; }

section h3 {
  font: 300 18pt "Nunito", "Lucida Grande", "Lucida Sans Unicode", Tahoma, sans-serif; }

#tier-table table {
  border-collapse: collapse;
  table-layout: fixed;
  width: 7.5in;
  margin: 0 auto 10pt; }

#tier-table td {
  padding: 4pt 4pt;
  text-align: center; }
  #tier-table td:first-of-type {
    text-align: left;
    padding-left: 10pt; }
  #tier-table td.tier-name, #tier-table td.subheading {
    font-weight: 700;
    color: white;
    background-color: #7e70c8; }

#tier-table tr {
  border-top: 1px solid #D8D8D8; }
  #tier-table tr.first-of-section {
    border-top: none; }
  #tier-table tr.last-of-table {
    border-bottom: 1px solid #D8D8D8; }

#tier-table p.footnotes {
  margin-top: 0.25in; }

#contact {
  z-index: 300;
  font-size: 13pt;
  line-height: 19.5pt;
  color: white;
  margin-top: 1.05in; }
  #contact a {
    color: white;
    text-decoration: underline; }
    #contact a:hover, #contact a:active, #contact a:focus {
      color: #b8b0e1;
      text-decoration: underline; }
