@import url('https://fonts.googleapis.com/css?family=Open+Sans|Baloo|Nunito:200,300,400,600,800');

// $hue-primary: 255; //degrees
// $sat-primary: 67%;
// $color-primary: hsl($hue-primary, $sat-primary, 55%);
// $color-primary-lighter: hsl($hue-primary, $sat-primary, 67%);

$color-primary: #493A98;
$color-bg: $color-primary;
$color-primary-light: lighten($color-bg, 12.5%);
$color-primary-lighter: lighten($color-bg, 20%);
$color-primary-lightest: lighten($color-bg, 37.5%);

$font-primary: "Nunito", "Lucida Grande", "Lucida Sans Unicode", Tahoma, sans-serif;

$font-headings: Baloo, $font-primary;

$on-color: rgba(0,0,0, 0.3);
$on-white: rgba(0,0,0, 0.15);
$drop-shadow: 0 0.04in;
$drop-shadow-small: 0 0.2em;

@page {
  size: letter;
  margin: 0;
}

body {
  font: 12pt $font-primary;
  line-height: 12pt * 3/2;
}

.page {
  position: relative;
  width: 8.5in;
  min-height: 11in;
  margin: 0.5in auto;
  border: 1px #CCCCCC solid;
  background: white;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.inner-page {
  z-index: 200;
  position: absolute;
  top: 0;
  width: 7.5in;
  height: 10in;
  margin: 0.5in;
  border: 1px #CCCCCC dotted;
}

.page-footer {
  z-index: 150;
  position: absolute;
  top: 10.5in;
  width: 7.5in;
  height: 0.5in;
  margin: 0 0.5in;
  padding-top: 0.05in;

  font: 10pt "Open Sans";

  .page-number {
    float: left;
  }
  .version-number {
    color: #999999;
    float: right;
  }
}

.negative-text {
  color: white;
}

.page-break-fix {
  visibility: hidden;
}

a {
  color: $color-primary-light;
  font-weight: 600;
}

@media print {
  html, body {
    width: 8.5in;
    height: 11in;
  }
  .page {
    margin: 0;
    border: initial;
    width: initial;
    min-height: initial;
    box-shadow: initial;
    background: initial;
    page-break-after: always;
  }
  .inner-page {
    border: initial;
  }
  h1, h2, h3, h4, h5, h6 {
    &::first-letter {
      padding: 0;
    }
  }
}

// .svg-wrapper {
//   height: 100%;
//   width: 100%;
//   z-index: 100;
//   position: absolute;
//   top: 0; right: 0; bottom: 0; left: 0;
//   overflow: hidden;
// }

svg {
  z-index: 100;
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  // border: 1px solid black;
  path {
    &.color-path {
      fill: $color-primary-light;
    }
    &.light-path {
      fill: $color-primary-lighter;
    }
  }
}


.landing {
  // position: absolute;
  // top: 0; right: 0; bottom: 0; left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .landing-logo img {
    // position: relative;
    // left: 10%;
    width: 7.5in * 1/2;
    // margin-bottom: 2rem;
  }
  .landing-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    // margin-left: auto;

    text-align: center;

    h1, h2, h3 {
      color: white;
      // text-align: center;
      margin-bottom: 8pt;
    }
    h1 {
      font: 700 24pt $font-primary;
    }
    h3 {
      font: 300 14pt $font-primary;
      .time {
        margin-left: 1em;
      }
    }
    h2 {
      font: 600 18pt $font-primary;
      // text-align: left;
    }
    a {
      color: white;
      &:hover, &:active, &:focus {
        color: $color-primary-lightest;
        text-decoration: underline;
      }
    }
  }
}

.after-landing {
  margin-top: 2in;
}

// #about {
//   .tagline {
//     // font-weight: 300;
//     font-size: 150%;
//     line-height: 150%;
//     text-align: center;
//     margin-bottom: 1.5em;
//   }
// }

// .container-fluid.no-padding {
//   padding: 0;
//   .col-6:first-of-type {
//     padding-left: 0;
//   }
// }

section {
  h1 {
    font: 300 24pt $font-primary;
    text-align: center;
  }
  h2 {
    font: 300 24pt $font-primary;
  }
  h3 {
    font: 300 18pt $font-primary;
  }
  // em {
  //   font-style: normal;
  //   font-weight: 700;
  // }
}

#tier-table {
  table {
    border-collapse: collapse;
    table-layout: fixed;
    width: 7.5in;
    margin: 0 auto 10pt;
  }
  
  td {
    // border: 1px dotted violet;

    padding: 4pt 4pt;
    text-align: center;

    &:first-of-type {
      text-align: left;
      padding-left: 10pt;
    }
    // &:last-of-type {
    //   padding-right: 8pt;
    // }
    &.tier-name, &.subheading {
      font-weight: 700;
      color: white;
      background-color: $color-primary-lighter;
    }
  }
  tr {
    border-top: 1px solid #D8D8D8;

    &.first-of-section {
      border-top: none;
    }
    &.last-of-table {
      border-bottom: 1px solid #D8D8D8;
    }
  }

  p.footnotes {
    margin-top: 16pt;
  }
}

// #tier-descriptions {
//   font-size: 11pt;
//   line-height: 11.5pt * 4/3;
//   p.short {
//     margin-bottom: 8pt;
//   }
//   .price {
//     font-weight: 200;
//     margin-left: 0.5em;
//   }
// }

#contact {
  z-index: 300;
  font: 13pt $font-primary;
  color: white;
  margin-top: 1.15in;
  a {
    color: white;
      text-decoration: underline;
    &:hover, &:active, &:focus {
      color: $color-primary-lightest;
      text-decoration: underline;
    }
  }
}